      <h2>Awards &amp; Honors</h2>
      <ul>
<li>Star of Tomorrow Award. Microsoft Research Asia (MSRA). 2024</li>
<li><a href="https://www.jsps.go.jp/" target="_blank">Japan Society for the Promotion of Science (JSPS, 日本学術振兴会)
            DC2 Fellowship</a>. 2023</li>
<li>MSRA Collaborative Research Program Fellowship (D-CORE 2022). 2022</li>
<li><a href="https://spring-gx-appl.adm.s.u-tokyo.ac.jp/en/" target="_blank">SPRING GX Fellowship</a>. 2021</li>
<li>Excellent Graduate of Nanjing University. 2021</li>
<li>AAMAS 2021 Attendance Scholarship. 2020</li>
<li>Excellent Graduate Student of Nanjing University. 2019</li>
<li>YeePay Scholarship of Nanjing University, Second Prize. 2019</li>
<li><a href="http://icdm2019.bigke.org/" target="_blank">ICDM Student Travel Award</a>. 2019</li>
<li><a href="https://grawww.nju.edu.cn/9a/a6/c905a301734/page.psp" target="_blank">Yingcai Scholarship of
            Nanjing University</a>, Second Prize. 2018</li>
<li>Nanjing University Academic Scholarship, First Prize. 2018&amp;2019&amp;2020</li>
<li>ZhongAn Hackathon Contest, AI scenario, First Prize. 2018</li>
<li>Excellent Graduate of Northwestern Polytechnical University. 2018</li>
<li>China Collegiate Computer Contest, First Prize. 2017</li>
<li>The ACM-ICPC Asia Regional Contest, Qingdao Site 2017, Silver Medal. 2017</li>
<li>The ACM-ICPC Asia Regional Contest, Xinjiang Site 2017, Bronze Medal. 2017</li>
<li>Interdisciplinary Contest in Modeling, Honorable Mention. 2017</li>
<li>China Collegiate Computer Contest, First Prize. 2017</li>
<li>Interdisciplinary Contest in Modeling, Honorable Mention. 2016</li>
<li>Contemporary Undergraduate Mathematical Contest in Modeling, Third Prize. 2016</li>
<li>China Collegiate Programming Contest, Hangzhou Site 2016, Silver Medal. 2016</li>
<li>China Collegiate Computer Contest, First Prize. 2016</li>
<li>The ACM-ICPC Asia Regional Contest, Xi’an Site 2016, Bronze Medal. 2016</li>
<li>The ACM-ICPC Asia Regional Contest, Shanghai Site 2016, Bronze Medal. 2016</li>
<li>The ACM-ICPC Asia Regional Contest, China-Final, Bronze Medal. 2015</li>
<li>Contemporary Undergraduate Mathematical Contest in Modeling, Second Prize. 2015</li>
<li>The ACM-ICPC Asia Regional Contest, Shaanxi Provincial Contest, Silver Medal. 2015</li>
<li>National Scholarship. 2015–2016</li>
<li>National Scholarship. 2014–2015</li>
</ul>
