      <h2>Preprints (* denotes equal contributions)</h2>
      <p><b>Xin-Qiang Cai</b>, Masashi Sugiyama. VI-CuRL: Stabilizing Verifier-Independent RL Reasoning via
        Confidence-Guided Variance Reduction. In: arXiv. [<a href="https://arxiv.org/pdf/2602.12579">arXiv</a>]</p>
      <p>Zhiqiang Kou*, Junyang Chen*, <b>Xin-Qiang Cai</b>, Xiaobo Xia, Ming-Kun Xie, Dong-Dong Wu, Biao Liu, Yuheng
        Jia,
        Xin Geng, Masashi Sugiyama, Tat-Seng Chua. Positive-Unlabeled Reinforcement Learning Distillation for On-Premise
        Small Models. In: arXiv. [<a href="https://arxiv.org/pdf/2601.20687">arXiv</a>]</p>
      <p>Zhiqiang Kou, Junyang Chen, <b>Xin-Qiang Cai</b>, Ming-Kun Xie, Biao Liu, Changwei Wang, Lei Feng, Yuheng Jia,
        Gang Niu, Masashi Sugiyama, Xin Geng. Rethinking Toxicity Evaluation in Large Language Models: A Multi-Label
        Perspective. In: arXiv. [<a href="https://arxiv.org/pdf/2510.15007">arXiv</a>]</p>
      <p><b>Xin-Qiang Cai</b>, Wei Wang, Feng Liu, Tongliang Liu, Gang Niu, Masashi Sugiyama. Reinforcement Learning
        with Verifiable yet Noisy Rewards under Imperfect Verifiers. In: arXiv. [<a
          href="https://arxiv.org/pdf/2510.00915">arXiv</a>]</p>
      <p>Jiansong Wan, Chengming Zhou, Jinkua Liu, Xiangge Huang, Xiaoyu Chen, Xiaohan Yi, Qisen Yang, Baiting Zhu,
        <b>Xin-Qiang Cai</b>, Lixing Liu, Rushuai Yang, Chuheng Zhang, Sherif Abdelfattah, Hayong Shin, Pushi Zhang, Li
        Zhao, Jiang Bian. PIG-Nav: Key Insights for Pretrained Image Goal Navigation Models. In: arXiv. [<a
          href="https://arxiv.org/pdf/2507.17220">arXiv</a>]
      </p>
      <p>Zelei Cheng*, <b>Xin-Qiang Cai*</b>, Yuting Tang, Pushi Zhang, Boming Yang, Masashi Sugiyama, Xingyu Xing.
        UC-MOA: Utility-Conditioned Multi-Objective Alignment for Distributional Pareto-Optimality. In: arXiv. [<a
          href="https://arxiv.org/pdf/2503.10669">arXiv</a>]</p>

      <h2>Publications (* denotes equal contributions)</h2>
      <p>Soichiro Nishimori, <b>Xin-Qiang Cai</b>, Johannes Ackermann, Masashi Sugiyama. Leveraging Domain-Unlabeled
        Data in Offline Reinforcement Learning across Two Domains. <b>Proceedings of the second Reinforcement Learning
          Conference (RLC'25)</b>, Montréal, QC, Canada, Aug. 16-19, 2025. [<a
          href="https://arxiv.org/abs/2404.07465">arXiv</a>]</p>
      <p>Jing-Cheng Pang, Nan Tang, Kaiyuan Li, Yuting Tang, <b>Xin-Qiang Cai</b>, Zhen-Yu Zhang, Gang Niu, Masashi
        Sugiyama, Yang Yu. Learning View-invariant World Models for Visual Robotic Manipulation. In: <b>Proceedings of
          the Thirteenth International Conference on Learning Representations (ICLR'25)</b>, Singapore, Apr. 24-28,
        2025.</p>
      <p>Zelei Cheng, Xian Wu, Jiahao Yu, Shuo Han, <b>Xin-Qiang Cai</b>, Xinyu Xing. Soft-Label Integration for Robust
        Toxicity Classification. In: <b>Proceedings of the Thirty-eighth Conference on Neural Information Processing
          Systems (NeurIPS'24)</b>, Vancouver, Canada, Dec. 10–15, 2024. [<a
          href="https://arxiv.org/abs/2410.14894">arXiv</a>] [<a
          href="https://github.com/chengzelei/crowdsource_toxicity_classification">code</a>] [<a
          href="/files/softlabel-neurips24.pdf">paper</a>]</p>
      <p>Yuting Tang*, <b>Xin-Qiang Cai*</b>, Yao-Xiang Ding, Qiyu Wu, Guoqing Liu, Masashi Sugiyama. Reinforcement
        Learning from Bagged Reward. In: <b>Proceedings of the 41st International Conference on Machine Learning
          (ICML'24), ARLET workshop</b>, Vienna, Austria, Jul. 21–27, 2024. [<a
          href="https://arxiv.org/abs/2402.03771">arXiv</a>]</p>
      <p>Xingyu Song, Zhan Li, Shi Chen, <b>Xin-Qiang Cai</b>, Kazuyuki Demachi. An Animation-based Augmentation
        Approach for Action Recognition from Discontinuous Video. In: <b>Proceedings of the 27th European Conference on
          Artificial Intelligence (ECAI'24)</b>, Santiago de Compostela, Spain, Oct. 19–24, 2024. [<a
          href="https://arxiv.org/abs/2404.06741">arXiv</a>]</p>
      <p>Kaiyan Zhao, Qiyu Wu, <b>Xin-Qiang Cai</b>, Yoshimasa Tsuruoka. Leveraging Multi-lingual Positive Instances in
        Contrastive Learning to Improve Sentence Embedding. In: <b>Proceedings of the 8th Conference of the European
          Chapter of the Association for Computational Linguistics (EACL'24)</b>, Malta, Mar. 17–22, 2024. [<a
          href="https://arxiv.org/abs/2309.08929">arXiv</a>]</p>
      <p>Pushi Zhang*, Baiting Zhu*, <b>Xin-Qiang Cai*</b>, Li Zhao, Masashi Sugiyama, Jiang Bian. IG-Net: Image-Goal
        Network for Offline Visual Navigation on A Large-Scale Game Map. In: <b>Proceedings of the Thirty-seventh
          Conference on Neural Information Processing Systems (NeurIPS'23)</b>, <a
          href="https://www.robot-learning.ml/2023/">6th Robot Learning Workshop</a>, New Orleans, US, Dec. 10–16, 2023.
        [<a href="/files/IG-neurips23.pdf">paper</a>] [<a
          href="https://openreview.net/forum?id=SjNlIHY8db">openreview</a>]</p>
      <p><b>Xin-Qiang Cai</b>, Yu-Jie Zhang, Chao-Kai Chiang, Masashi Sugiyama. Imitation Learning from Vague Feedback.
        In: <b>Proceedings of the Thirty-seventh Conference on Neural Information Processing Systems (NeurIPS'23)</b>,
        New Orleans, US, Dec. 10–16, 2023. [<a href="/files/VPIL-neurips23.pdf">paper</a>] [<a
          href="/bib/2023-NeurIPS-VPIL.html">bibtex</a>]</p>
      <p><b>Xin-Qiang Cai</b>, Pushi Zhang, Li Zhao, Jiang Bian, Masashi Sugiyama, Ashley Juan Llorens. Distributional
        Pareto-Optimal Multi-Objective Reinforcement Learning. In: <b>Proceedings of the Thirty-seventh Conference on
          Neural Information Processing Systems (NeurIPS'23)</b>, New Orleans, US, Dec. 10–16, 2023. [<a
          href="/files/DPMORL-neurips23.pdf">paper</a>] [<a href="/bib/2023-NeurIPS-DPMORL.html">bibtex</a>]</p>
      <p><b>Xin-Qiang Cai</b>, Yao-Xiang Ding, Zi-Xuan Chen, Yuan Jiang, Masashi Sugiyama, Zhi-Hua Zhou. Seeing
        Differently, Acting Similarly: Heterogeneously Observable Imitation Learning. In: <b>Proceedings of the Eleventh
          International Conference on Learning Representations (ICLR'23) (spotlight)</b>, Kigali, Rwanda, May 1–5, 2023.
        [<a href="https://openreview.net/forum?id=3ULaIHxn9u7">openreview</a>] [<a
          href="/files/HOIL-iclr23.pdf">paper</a>] [<a href="/bib/2023-ICLR-HOIL.html">bibtex</a>]</p>
      <p>Zi-Xuan Chen*, <b>Xin-Qiang Cai*</b>, Yuan Jiang, Zhi-Hua Zhou. Anomaly Guided Policy Learning from Imperfect
        Demonstrations. In: <b>Proceedings of the 21st International Conference on Autonomous Agents and Multi-Agent
          Systems (AAMAS'22) (oral)</b>, Auckland, New Zealand, May 9–13, 2022. Page: 244–252. [<a
          href="/files/AGPO-aamas22.pdf">paper</a>] [<a href="/bib/2022-AAMAS-AGPO.html">bibtex</a>]</p>

